<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>index.ejs</title>
</head>
<body>
  <div class="container">
    <h1>Hello index.ejs</h1>
    <% for (let user of users) { %>
      <p><%= user.name %> - <%= user.age %></p>
    <% } %>
    <form action="/users" method="post">
      <input type="text" name="name">
      <input type="submit" value="pressed">
    </form>
  </div>
</body>
</html>